APP_NAME=Project Service
APP_PORT=:8090
APP_ENV=staging

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=myunila_project
PG_USERNAME=myunila_pm
PG_PASSWORD=your_pg_password_here
PG_SSLMODE=disable

MSSQL_HOST=192.168.x.x
MSSQL_PORT=1433
MSSQL_DATABASE=your_mssql_database
MSSQL_USERNAME=your_mssql_user
MSSQL_PASSWORD=your_mssql_password
