# Application
APP_NAME=MyUnila Service
APP_PORT=:8086
APP_ENV=development

# Database (SQL Server)
DB_DRIVER=sqlserver
DB_HOST=
DB_PORT=1433
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_TRUST_SERVER_CERTIFICATE=true
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=5m

# SIKEP API
SIKEP_API_BASE_URL=https://sikep.unila.ac.id/api/v1
SIKEP_API_USERNAME=
SIKEP_API_PASSWORD=
